.navLinks{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* border: 1px solid rgb(150, 150, 255);  */
}

.link{
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    text-decoration: none;
    position: relative;
}

.link::after{
    content: "";
    border-top: 2px solid var(--black);
    position: absolute;
    top: 130%;
    display: block;
    width: 0%;
    transition: .5s ease-in-out;
}

.link:hover, .activeLink{
    color: var(--black);
    transition: .5s ease-in-out;
}

.link:hover::after, .activeLink::after{
    width: 100%;
    transition: .5s ease-in-out;
}

/* .active-link{
    color: var(--black);
    position: relative;
} */

.headerIcons{
    color: var(--black);
    font-size: 2.5rem;
}
@media only screen and (max-width: 768px) {
    .navLinks{
        gap: 2rem;
    }
}

@media only screen and (max-width: 550px) {
    .navLinks{
        order: 3;
        justify-content: space-between;
        grid-column: 1/3;
        padding: 1rem 0rem;
        box-shadow: -1px -40px 25px rgba(136, 136, 136, 0.1);
        
    }
}