.commentFormWrapper{
    width: 100%;
}
.imgOutput{
    width: 8rem;
    height: auto;
    position: relative;
}

.imgOutput > div{
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--black);
    top: -1rem;
    right: -1rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon{
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: 0.5rem;

}

.imgOutput .icon{
    font-size: 1.6rem;
    color: var(--white);
}

.imgOutput img{
    width: 100%;
}

.commentFormBox{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1.5rem;
  border: 2px solid var(--black);
  padding: 0rem 0.7rem;
  background-color: var(--white);

}

.profilePic{
    width: 5rem;
    height: 5rem;
    margin-top: 0.5rem;
}

.profilePic img{
    width: 100%;
    height: 100%;
    border-radius: 20rem;
}

.commentFormBox form{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex: 1;
}

.upload{
    display: none;
}

.commentFormBox textarea{
    flex: 1;
    color: var(--black);
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0.001em;
  padding: 1.7rem 1rem;
  outline: none;
  border: none;
  width: 1rem;
  resize: none;
}
